.blue {
  height: 186px;
  width: 1150px;

  background-color: #c3e7fd;
  display: flex;
  flex-direction: row;
  margin: 65px 0px 0px 140px;
}
.blue img {
  margin-top: -8px;
}
.violet {
  width: 113px;
  height: 186px;
  background-color: #d3b4f6;
  border-radius: 0px 100px 100px 0px;
}
.text {
  margin-left: 10px;
  width: 500px;
  padding-left: 50px;
  padding-top: 29px;
}
.text p {
  font-size: 23px;

  margin-top: -9px;
}
.text h1 {
  font-size: 32px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}
.blue .view {
  width: 90px;
  height: 35px;
  border-radius: 4px;
  border: none;
  background-color: black;
  color: white;
  margin: 80px 0px 0px 55px;
}
