.textStroke {
  width: 756px;
  height: 86vh;

  float: left;
  padding-left: -10px;
  background-color: rgb(244, 248, 250);
}
.box {
  width: 300px;
  margin-left: 130px;
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.textStroke img {
  width: 70px;
  margin-left: -14px;
  background-color: rgb(229, 234, 236);
}
