
.body h1 {
  margin: 30px 0px -20px 140px;
  font-size: 30px;
}

.card {
  margin-top: -10px;
 
  width: 280px;
  height: 318px;
  
  
}
.card :hover{
  
}

.card img {
  width: 280px;
  height: 192px;
}
.card h3 {
  text-decoration: none;
  margin-left: 5px;
}
.card p{
  margin-left: 5px;
}
.cards {
  
  display: flex;
  justify-content: space-around;
  margin: 30px 120px 10px 120px;
}
.user-cards{
 
}
 .user-cards a, .default-cards a  {
 
  text-decoration: none;
  color: black;
  transition: transform 200ms ease-in-out , box-shadow 200ms ease-in-out;
  box-shadow: 5px 5px 5px rgba(0, 0,0 , 0.15);
  
}
.default-cards a:hover {
  transform: scale(1.03);
  box-shadow: 8px 8px 10px rgba(0, 0,0 , 0.2);
  
}


.grid{
  
  margin: 30px 30px 0px 30px;
  display: grid;
 grid-template-columns: 25% 25% 25% 25%;
}
.page{
  /* border: 1px solid; */
  margin: 30px 30px 0px 30px;
  color: rgb(24, 79, 143);
}
.edit-delete{
  /* border: 1px solid; */
  margin-left: 8px;
  margin-top: -10px;
  width: 260px;
  
  display: flex;
  justify-content: space-between;
}
.edit-delete img{
  
  width: 25px;
  height: 25px;
  /* transition: display 200ms ease-in-out; */
  
}
.user-cards a:hover{
  transform: scale(1.04);
  box-shadow: 10px 10px 15px rgba(0, 0,0 , 0.4);
  display: block;
}
.edit-delete form button {
  background: none;
  border: none;
  
}
.edit-delete form button{
  -webkit-transition: transform 200ms ease-in-out , box-shadow 200ms ease-in-out;
  
}

.edit-delete form button :hover{
   box-shadow:5px 5px 10px rgba(0, 0,0 , 0.4) ;
   -webkit-transform: scale(1.04);
}